.view {
    margin-right: 5rem;
    margin-left: 5rem;
}

.logo {
    display:flex;
    /* flex-direction: row; */
}

.logo-name {
    color: black;
    font-size: 22px;
    
}

.item {
    margin-right: 2rem; 
}