.lay {
    display: flex;
    flex-wrap: wrap;
flex-direction: row;
}

.all {
    margin: 5rem;
    padding-bottom: 7rem;
}

.pic {
    display: flex; 
    justify-content: center;
}

.section {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap
}

.blog {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* justify-self: ; */
}

.blog-list {
 margin-top: 5rem;
 padding-bottom: 6rem;
 display: flex;
 flex-direction: column;
 /* margin: 6rem;
 margin-right: unset; */
 /* margin-left: 5rem; */
 
    /* marginTop: "4rem", paddingBottom: "6rem", display: "flex" */
}