.lay {
    display: flex;
    flex-wrap: wrap;
flex-direction: row;
}

.all {
    margin: 5rem;
    padding-bottom: 7rem;
}

.pic {
    display: flex; 
    justify-content: center;
}

.section {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap
}
